<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Matches</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>
<h1>Matches</h1>
<hr>

<div class="row">
    <div class="column" th:each="candidate:${candidates}">
        <img th:src="@{${'/images/' + candidate.pictureid + '.jpg'}}" alt="blank profile">
        <p>Navn: <span th:text="${candidate.name}"></span></p>
        <!-- <p>Fødselsdag:<span th:text="${datingUser.age}"></span></p>-->
        <p>Køn: <span th:text="${candidate.gender}"></span></p>
        <p>Om mig: <span th:text="${candidate.description}"></span></p>


        <div id="buttonsMatches">

            <form class="knap" th:action="@{/beskeder}" method="get">
                <button th:name="candidateid" th:value="${candidate.ID}" class="send" type="submit">Send besked</button>
            </form>

            <form class="knap" th:action="@{/removeCandidate}" method="post">
                <button th:name="candidateid" th:value="${candidate.ID}" class="fjernbtn" type="submit">Fjern match</button>
            </form>

        </div>
    </div>
</div>


<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>