<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Rediger profil</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>

<h1>Rediger profil</h1>
<hr>
<div class="centerText_rediger">
    <form th:action="@{/redigeretprofil}" method="post">
        <p>Mail: <br><input class="inputfelt" type="text" th:field="${datingUser.email}" name="email"/></p>
        <p>Navn: <br><input class="inputfelt" type="text" th:field="${datingUser.name}" name="name"/></p>
        <p>Beskrivelse:<br> <textarea class="inputfelt" id="myTextArea"
                                  rows="4"
                                  cols="60" th:field="${datingUser.description}" name="description"></textarea>
        </p>
        <p>Køn:<br> <input class="inputfelt" type="text" th:field="${datingUser.gender}" name="gender"/></p>
        <input class="buttonrediger" type="submit" value="Bekræft"/>
    </form>
</div>
<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>