* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/backgroundbody.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    padding-top: 9.5vw;
    text-align: center;
    font-size: 32px;
    color: #525050;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #525050;
}

h4 {
    margin-left: 5vw;
    width: 8px;
    color: #3b3838;
}

hr {
    width: 70%;
    border-bottom: inherit;
    border-left: inherit;
    border-right: inherit;
    border-top: 1.4px solid grey;
    margin-bottom: 5vw;
}

/*-------Navigation-------*/
header {
    width: 100%;
    /* Primary color */
    background-image: linear-gradient(140deg, #ece8f3 0%, #c1abd4 50%, #9076b3 75%);
    z-index: 5;
    top: 0;
    position: fixed;
}

#logout {
    color: white;
    background-color: green;
    position: fixed;
    border-radius: 5px;
    justify-content: right;
    font-size: 15px;
    top: 0;
    right: 0;
    margin-bottom: 2vw;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    z-index: 3;
    font-weight: 500;
}

.topnav a:first-child {
    background-image: url(/images/logo.png);
    background-size: cover;
    width: 6.7vw;
    height: 9vw;
    margin: 2vw;
    padding: 1vw;
}

.topnav {
    overflow: hidden;
    width: 100%;
}

.topnav a:not(:first-child):hover {
    text-decoration: underline;
    opacity: 0.7;
}

.topnav .icon {
    display: none;
}


/*-------Navigation slut-------*/

/*-------Frontpage-------*/

#frontpage {
    background-image: url("/images/background.png");
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px);
}

/* Position text in the middle of the page/image */
#frontpage_content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
    height: 100%;
    margin: 2vw;
}

#frontpage_content h1,
#frontpage_content h2 {
    text-shadow: 2px 2px 8px rgba(7, 7, 7, 0.44);
    color: white;
    padding-top: 0px;
}


.container_logind input[type=text], .container_logind input[type=password] {
    width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Set a style for all buttons */
.btnlogin, .cancelbtn, .signupbtn, .btnopret {
    text-align: center;
    background-color: #9076b3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 15%;
    border: none;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.container_logind {
    padding: 16px;
    display: inline-block;
    justify-content: space-between;
}

/* Full-width input fields */
.container_register input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

::-webkit-calendar-picker-indicator:hover {
    transform: scale(1.2);
    cursor: pointer;
}


input[type=date] {
    width: 30%;
    color: #747474;
}

input[type=date]:focus {
    color: black;
}

.clearfix {
    text-align: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #b75851;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    width: 20%;
}

/* Add padding to container elements */
.container_register {
    padding: 16px;
    text-align: left;
}

.container_register label {
    color: #525050;
}

.container_register p {
    color: #525050;
    text-align: center;
    font-style: italic;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 90%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #9b96a3;
    padding-top: 50px;
    border-radius: 8px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    opacity: 0.7;
    cursor: pointer;
}


.fejl {
    background-color: #ce4b41;
    border-radius: 5px;
    width: 50%;
    padding: 0.05vw;
    margin: 0 auto;
    animation: shake 0.8s;

}

.fejl p {
    font-weight: bold;
    font-style: italic;
}

@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(2deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(2deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-2deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(2deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-2deg);
    }
}

.fejl {
    background-color: #ce4b41;
    border-radius: 5px;
    width: 50%;
    padding: 0.05vw;
    margin: 0 auto;
    animation: shake 0.8s;

}

.fejl p {
    font-style: italic;
    font-size: 13px;
}

@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(2deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(2deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-2deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(2deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-2deg);
    }
}


/*-----ADMIN-----*/
table,
th,
td {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    border-color: inherit;

}

th {
    background-color: #6a737c;
    color: white;
}

table {
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.09);
}

tr {
    text-align: left;
    background-color: white;
}

td:last-child,
th:last-child {
    text-align: right;
    margin: 3vw;
}

th:last-child {
    border-top-right-radius: 15px;
}

th:first-child {
    border-top-left-radius: 15px;
}

th,
td {
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #e9e3e9;
}

.adminlog {
    margin-top: 3vw;
    margin-left: 10%;
    font-style: italic;
}

.alert {
    color: transparent;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.2vw;
    border-radius: 10px;
    position: relative;
    animation-name: slide;
    animation-duration: 5s;
}

.alert p {
    margin: 1vw;
}

@keyframes slide {
    0% {
        color: white;
        left: -1100px;
        background-color: #ce4b41;
    }
    40% {
        color: white;
        left: 0;
        background-color: #ce4b41;
    }
    90% {
        color: white;
        background-color: #ce4b41;
        opacity: 1;
    }

    100% {
        opacity: 0;
        color: transparent;
    }
}


/*-------Button-----*/
.button1 {
    background-color: slategrey;
    border: none;
    color: white;
    padding: 7px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    filter: drop-shadow(0 2px 8px rgba(112, 128, 144, 0.27));
}

.button1:hover {
    cursor: pointer;
    opacity: 0.7;
}


/*-------Udforsk-----*/

.row {
    color: #525050;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 5vw;
}

.row img {
    width: 20vw;
    height: 22vw;
    border: none;
}

.column {
    background-color: white;
    box-shadow: 1px 5px 6px 1px rgba(0, 0, 0, 0.20);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.column p {
    margin-left: 1vw;
    font-weight: bold;
    font-size: 16px;
}

.column span {
    font-size: 14px;
    font-weight: normal;
}

.buttonsUdforsk {
    display: flex;
    justify-content: space-between;
}

.likebtn, .picsbtn {
    border: none;
    padding: 0.5vw;
    margin: 1vw;
    color: white;
    border-radius: 15px;
    width: 35%;
}

.likebtn {
    background-color: darkseagreen;
}

.picsbtn {
    background-color: #9076b3;
}

.likebtn:hover, .picsbtn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.addmatch {
    text-align: center;
    padding-bottom: 1vw;
    border-radius: 5px;
    color: #525050;
    opacity: 0;
    font-size: 15px;
    font-style: italic;
    animation: popup 3s;
}

@keyframes popup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    85% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}


/*-----Matches-----*/

.emptymatch {
    font-size: 22px;
    font-style: italic;
    color: #525050;
    text-align: center;
}

#buttonsMatches {
    display: flex;
    justify-content: space-between;
}

.knap .fjernbtn, .send {
    border: none;
    padding: 0.5vw;
    margin: 1vw;
    color: white;
    border-radius: 15px;
    width: 70%;

}

.knap .send {
    border: none;
    padding: 0.5vw;
    margin: 1vw;
    color: white;
    border-radius: 15px;
    width: 70%;

}

.fjernbtn {
    background-color: #b75851;
    width: 35%;
}

.send {
    background-color: #9076b3;
    width: 35%;
}

.send:hover, .fjernbtn:hover {
    cursor: pointer;
    opacity: 0.8;
}


/*-------Footer-------*/
footer {
    margin-top: 8vw;
    width: 100%;
    background-color: inherit;
    color: #525050;
    bottom: 0;
    padding-top: 1vw;
}

#footer_info {
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    position: relative;
    font-size: 12px;
}

footer a {
    color: #525050;
    font-size: 13px;
}

.kontakt {
    flex-basis: 200px;
    margin-left: 1vw;
    margin-right: 1vw;
}


a.fa-facebook,
a.fa-twitter {
    color: #525050;
    text-decoration: none;
    font-size: 5vw;
    height: 2vw;
    width: 2vw;
}

a.fa-twitter {
    margin-left: 4vw;
}

a.fa-facebook:before,
a.fa-twitter:before {
    color: #525050;
}

.fa {
    text-align: center;
}

.fa:hover {
    opacity: 0.6;
}

.copyright p {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    font-size: 11px;
    margin: 0;
    padding: 2vw;
}

/*-------Footer slut-----*/

/*-------Buttons-----*/
.buttonrediger {
    background-color: #9076b3;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

.buttonrediger:hover {
    opacity: 0.8;
}

.image1 img {
    display: block;
    margin: 0 auto;
    border: inherit;
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.09);
}

.centerText p {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}


/*-------Rediger--------*/
.centerText_rediger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #525050;
}

.inputfelt {
    border-radius: 15px;
    border: none;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);
    padding: 1vw;
}

/*--------Beskeder-----*/
.centerText_beskeder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #525050;
}

.centerText_beskeder .inputfelt {
    border-radius: 15px;
    border: none;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);
    padding: 1vw;
    background-color: white;
}

.centerText_beskeder p {
    width: 50%;
}

/*-------Media queries-------*/

@media screen and (max-width: 700px) {
    h1 {
        padding-top: 15vw;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size: 23px;
    }

    .topnav.responsive {
        position: fixed;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .topnav a:nth-last-child(2) {
        opacity: 0.7;
    }

    .container_logind input[type=text], .container_logind input[type=password] {
        width: 60vw;
    }

    .cancelbtn, .signupbtn {
        width: 40%;
        margin: 3vw;
    }

    footer {
        margin-top: 30vw;
    }

    #footer_info {
        justify-content: space-around;
    }

    .row {
        justify-content: center;
        width: 50vw;
        margin: 0 auto;
        grid-template-columns: auto;
    }

    .row img {
        width: 100%;
        height: 40vw;
    }

    .likebtn, .picsbtn {
        padding: 1.4vw;
    }

    .fejl {
        width: 100%;
    }

    input[type=date] {
        width: 100%;
    }
}


/*-------Desktop skærme-----*/


@media screen and (min-width: 700px) {
    .topnav a:first-child {
        background-image: url(/images/logo.png);
        background-size: cover;
        width: 3vw;
        height: 4vw;
        margin: 0.5vw;
        margin-left: 2vw;
        margin: 1vw;
    }

    .topnav a:not(:first-child) {
        padding-top: 2vw;
        position: relative;
        float: right;
        margin-right: 8vw;
    }

    .topnav a:nth-last-child(2) {
        display: flex;
        position: fixed;
        right: 0px;
        top: -1px;
        padding: 0.5vw;
        border-radius: 5px;
        margin: 0;
        opacity: 0.7;
    }

    .topnav a:nth-last-child(2):hover {
        opacity: 1;
    }

    .kontakt {
        flex-basis: 200px;
    }

    a.fa-facebook,
    a.fa-twitter {
        font-size: 2vw;
        height: 1vw;
        width: 1vw;
        margin: 0;
    }

    a.fa-twitter {
        margin-left: 2vw;
    }

    footer a {
        font-size: 12px;
    }

    footer p {
        font-size: 12px;
    }

    .box {
        margin: 10px;
        padding: 10px;
        font-size: 18px;
    }

}
