<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<header id="myTopnav">
    <div class="topnav">
        <a></a>
        <a href="/profil">Profil</a>
        <a href="/udforsk">Udforsk</a>
        <a href="/matches">Matches</a>
        <a href="/beskeder">Beskeder</a>
        <a href="/">
            <img src="/images/logout.png" width="30px" height="35px"></a>
        <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

</header>
</body>
</html>