<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Admin</title>
</head>

<body>

<header id="myTopnav">
    <div class="topnav">
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a href="/">
            <img src="/images/logout.png" width="30px" height="35px"></a>
        <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

</header>


<h1>Admin</h1>
<hr>
<br>
<h2>Slet brugere</h2>

<p class="adminlog">Logget ind som: <span th:text="${adminUser.email}"></span></p>

<div th:if="${message}" class="alert">
    <p th:text="${message}"></p>
</div>


<table style="width: 80%">

    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Email</th>
        <th>Vælg</th>
    </tr>

    <form th:action="@{/deleteDatingUser}" method="post">
        <tr th:each="datingUser:${datingUsers}">
            <td th:text="${datingUser.ID}"></td>
            <td th:text="${datingUser.name}"></td>
            <td th:text="${datingUser.email}"></td>
            <td>
                <button th:name="userid" th:value="${datingUser.ID}" type="submit" class="button1"> <img src="/images/trashcan.png" alt="trash" width="19px" height="20px"></button>
            </td>
        </tr>
    </form>


</table>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>

</html>
