<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Log ind</title>

</head>


<div id="frontpage"></div>

<div id="frontpage_content">
    <h1>Velkommen til Purple Dating<img src="/images/logo.png" alt="logo" height="53px" width="44px"></h1>
    <h2>Scroll igennem en masse profiler og find dit perfekte match!</h2>


    <form name="login" action="/login" method="POST">

        <div class="container_logind">
            <label><b>Brugernavn</b></label>
            <br>
            <input type="text" placeholder="Indtast email" name="email" required>
            <br>
            <label><b>Kodeord</b></label>
            <br>
            <input type="password" placeholder="Indtast kodeord" name="password" required>
            <br>
            <button style="width:auto;" type="submit">Log ind</button>
        </div>
    </form>

    <p>Ikke medlem endnu? Opret ret dig som bruger allerede nu.</p>
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Opret bruger
    </button>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <div class="modal-content">

            <form name="register" action="/register" method="POST">

                <div class="container_register">
                    <h1>Opret bruger</h1>
                    <p>Udfyld venligst formularen.</p>

                    <label><b>Navn</b></label>
                    <input type="text" placeholder="Indtast navn" name="name" required>

                    <label><b>Email</b></label>
                    <input type="text" placeholder="Indtast email" name="email" required>

                    <label><b>Fødselsdag</b></label>
                    <input type="text" placeholder="Eks: 1998-6-6" name="birthdate" required>

                    <label><b>Kodeord</b></label>
                    <input type="password" placeholder="Indtast kodeord" name="password1" required>

                    <label><b>Gentag kodeord</b></label>
                    <input type="password" placeholder="Gentag kodeord" name="password2" required>

                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                class="cancelbtn">Fortryd
                        </button>
                        <button class="signupbtn" type="submit" value="Opret">Opret</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js">

</script>
</body>
</html>