<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <title>Profil</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>
<h1>Min profil</h1>
<hr>

<div class="image1">
    <img src="/images/blank-profile-picture.jpg" alt="blank profile" width="300" height="350"/>
</div>
<div class="centerText">
    <p>Navn: <br><span th:text="${datingUser.name}"> </span></p>
    <p>Fødselsdato: <br><span th:text="${datingUser.birthdate}"> </span></p>
    <p>Mail: <br><span th:text="${datingUser.getEmail()}"> </span></p>
    <p>Køn: <br><span th:text="${datingUser.sex}"> </span></p>
    <p>Beskrivelse: <br><span th:text="${datingUser.description}"> </span></p>
</div>
<div>
    <a href="/rediger"><button type="button" class="button">Rediger profil</button></a>
</div>
<br>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>