<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <title>Profil</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>
<h1>Min profil</h1>
<div>
    <p>Navn: <span th:text="${datingUser.name}"> </span></p>
    <p>Fødselsdato: <span th:text="${datingUser.birthdate}"> </span></p>
    <p>telefonnummer: <span th:text="${datingUser.phoneNumber}"> </span></p>
    <p>Mail: <span th:text="${datingUser.mail}"> </span></p>
    <p>Køn: <span th:text="${datingUser.sex}"> </span></p>
    <p>Beskrivelse: <span th:text="${datingUser.description}"> </span></p>
</div>
<br>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>