<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <title>Udforsk</title>
</head>
<body>


<div th:replace="fragments/header.html :: header"></div>

<h1>Udforsk</h1>
<hr>


<div class="row">
    <div class="column" th:each="datingUser:${datingUsers}">
        <img th:src="@{${'/images/' + datingUser.ID + '.jpg'}}" alt="blank profile">
        <p>Navn: <span th:text="${datingUser.name}"></span></p>
        <!-- <p>Fødselsdag:<span th:text="${datingUser.age}"></span></p>-->
        <p>Køn: <span th:text="${datingUser.gender}"></span></p>
        <p>Om mig: <span th:text="${datingUser.description}"></span></p>

        <div class="buttonsUdforsk">
            <button class="picsbtn" type="button">Se billeder</button>
            <button class="likebtn" type="button">Like &#127892;</button>
        </div>
    </div>
</div>


<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js">
</script>
</body>
</html>