<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <title>Admin</title>
</head>
<body>

<h1>Admin</h1>
<h2>Slet eller blacklist brugere</h2>

<p>hej</p>
<p>hej</p>
<p>hej</p>
<p>hej</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>hej</p>
<p>hej</p>
<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>